{% extends "bootstrap/base.html" %}

{% block navbar %}

{% endblock %}

{% block content %}


<h1 align="center" class="text-danger">Interfaces router: {{ info[0]["hostname"] }}</h1>
<div align="center" class="container p-3 my-3">
 <form method="POST" action= 'http://127.0.0.1:5000/interfaz/{{info[0]['ip']}}'>

<p>Nombre interfaz: <input disabled="disabled" type="text" name="nombre_int" value="{{info[0]['nombre_inte']}}"> IP:<input type="text" value="{{info[0]['ip']}}"name="ip"> Mascara: <input type="text" value="{{info[0]['mascara']}}" name="mascara"> 

 <input  class="btn btn-success" type="submit" value="Modificar">
</form>
<br><br>

<form method="POST" action= 'http://127.0.0.1:5000/interfaz/{{info[1]['ip']}}'>
<p>Nombre interfaz: <input disabled="disabled" type="text" name="nombre_int" value="{{info[1]['nombre_inte']}}"> IP:<input type="text" value="{{info[1]['ip']}}"name="ip"> Mascara: <input type="text" value="{{info[1]['mascara']}}" name="mascara"> 
 <input  class="btn btn-success" type="submit" value="Modificar">
</form>
<br><br>
{% if info[2] %}
<form method="POST" action= 'http://127.0.0.1:5000/interfaz/{{info[2]['ip']}}'>
<p>Nombre interfaz: <input disabled="disabled" type="text" name="nombre_int" value="{{info[2]['nombre_inte']}}"> IP:<input type="text" value="{{info[2]['ip']}}"name="ip"> Mascara: <input type="text" value="{{info[2]['mascara']}}" name="mascara"> 
 <input  class="btn btn-success" type="submit" value="Modificar">
</form>
{% endif %}
<br><br>
</div>


{% endblock %}




{% block scripts %}
  
<script src="{{url_for('static',filename='bootstrap-4.5.3-dist/js/bootstrap.min.js')}}"></script>

<script>
function myfunction(){
confirm("Se está analizando la topología, espera...");
}
</script>

{% endblock %}
{% block styles %}

<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.5.3-dist/css/bootstrap.min.css')}}" >
{% endblock %}


