{% extends "bootstrap/base.html" %}

{% block navbar %}

{% endblock %}

{% block content %}


<h1 align="center" class="text-primary">Usuarios del router: {{ info[0]["router"] }}</h1>
<div align="center" class="container p-3 my-3 bg-grey text-black">
 <form method="POST" action= 'http://127.0.0.1:5000/usuarios/{{info[0]['identificador']}}'>

<p>Administrador: <input  disabled="disabled" type="text" name="usuario" value="{{info[0]['usuario']}}"> Contraseña:<input disabled="disabled" type="text" value="{{info[0]['password']}}"name="password"> 

 		

</form>
<br><br>
{% if info[1] %}
<form method="POST" action= 'http://127.0.0.1:5000/usuarios/{{info[1]['identificador']}}'>

<p>Usuario: <input  type="text" name="usuario" value="{{info[1]['usuario']}}"> Contraseña:<input type="text" value="{{info[1]['password']}}"name="password"> 

<input  class="btn btn-success" type="submit" value="Modificar">
 
 <a role="button" href="http://127.0.0.1:5000/eliminarusuario/{{info[1]['identificador']}}" target="_blank"  class="btn btn-danger">Eliminar</a>
{% endif %}
</form>
<br><br>
{% if info[2] %}
<form method="POST" action= 'http://127.0.0.1:5000/usuarios/{{info[2]['identificador']}}'>

<p>Usuario: <input  type="text" name="usuario" value="{{info[2]['usuario']}}"> Contraseña:<input type="text" value="{{info[2]['password']}}"name="password"> 

<input  class="btn btn-success" type="submit" value="Modificar">
 
 <a role="button" href="http://127.0.0.1:5000/eliminarusuario/{{info[2]['identificador']}}" target="_blank"  class="btn btn-danger">Eliminar</a>
{% endif %}
</form>
<br><br>
{% if info[3] %}
<form method="POST" action= 'http://127.0.0.1:5000/usuarios/{{info[3]['identificador']}}'>

<p>Usuario: <input  type="text" name="usuario" value="{{info[3]['usuario']}}"> Contraseña:<input type="text" value="{{info[0]['password']}}"name="password"> 
<input  class="btn btn-success" type="submit" value="Modificar">
 
 <a role="button" href="http://127.0.0.1:5000/eliminarusuario/{{info[3]['identificador']}}" target="_blank"  class="btn btn-danger">Eliminar</a>
{% endif %}
</form>
<br><br>
</div>
<div class="container p-3 my-3 " >	

	<div class="row">
	<div  class="col-sm">	
<h1 align="center" class="">Agregar un nuevo usuario</h1>
    </div> </div>
  <div class="row">
    <div class="col-sm ">
	
    </div>
    <div class="col-sm container p-3 my-3">
       <form method="POST" action= 'http://127.0.0.1:5000/agregarusuario/{{info[0]['router']}}'>
     
      <p> ingresa nombre del usuario:<br><input type="text" name="usuario">
	<p> ingresa contraseña:<input type="text" name="password">
		
	<br><br>
	<div align="center">
      <input  class="btn btn-success" type="submit" value="Agregar">
	</div>
    </form>
  
    </div>
    <div class="col-sm">
      
    </div>
  </div>

	
</div>


{% endblock %}




{% block scripts %}
  
<script src="{{url_for('static',filename='bootstrap-4.5.3-dist/js/bootstrap.min.js')}}"></script>

<script>
function myfunction(){
confirm("Se está analizando la topología, espera...");
}
</script>

{% endblock %}
{% block styles %}

<link rel="stylesheet" href="{{url_for('static',filename='bootstrap-4.5.3-dist/css/bootstrap.min.css')}}" >
{% endblock %}


